<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <div class="accountBox">
        <div class="dataBox">
          <h2 class="dataSubtitle">Datos de la cuenta</h2>
          <div class="accountData"><span>Usuario</span></div>
          <div class="accountInfo"><span><%= user.usersId %> </span></div>
          <div class="accountData"><span>E-mail</span></div>
          <div class="accountInfo"><span><%= user.email %></span></div>
          <br>
          <h2 class="dataSubtitle">Datos personales</h2>
          <div class="accountData"><span>Nombre completo</span></div>
          <div class="accountInfo"><span><%= user.usersName %></span></div>
          <div class="accountData"><span>Direccion de envío</span></div>
          <div class="accountInfo"><span><%= user.usersDirec %></span></div>
          <div class="accountData"><span>País</span></div>
          <div class="accountInfo"><span><%= user.country %></span></div>
          <div class="accountData"><span>Telefono</span></div>
          <div class="accountInfo"><span><%= user.usersTel %></span></div>
        </div>
        <div class=imgBox>
          <img class="imgavatar" src="/uploads/users/<%= user.usersAvatar %>" alt="">
        </div>
        </div>


        <%- include('../partials/footer') %>

  </body>


  


</html>