<!DOCTYPE html>
<html lang="es">

<html>

<%- include('../partials/head') %>

  

  <body>

    <!--Main Header-->


    <%- include('../partials/header') %>


      <!--Formulario de creación de productos-->

      <main class="create-body">
        
        <div class="create-title-box">
        <h1 class="create-title">Listado de productos</h1>

          <div class="line-create"></div>
        </div>

        <div>
            <% for( let i=0; i < productsList.length; i++ ) { %>
                
                    <h2><%= productsList[i].pdtMarca %></h2>
                    <img src="/uploads/<%= productsList[i].pdtImage %>" alt="imagen de producto" width="250">
                    <p><%= productsList[i].pdtVariedad %></p>
                    <p><%= productsList[i].pdtPresentacion %></p>
                    <p>$<%= productsList[i].pdtPrice %></p>
                    <P><%= productsList[i].pdtDescripcion %></P>
                    <p><%= productsList[i].pdtCategorias %></p>
               
                <% } %>
        </div>


      </main>


      <%- include('../partials/footer') %>







  </body>

</html>