<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head') %>
  


<body>
  <%- include('../partials/header') %>

    <main class="productdetail">
      <div class="imgprod">
        <img class="img-detail" src="/uploads/products/<%= productFinded.image %>" alt="">
      </div>
      <div class="producttext">
        <h3 class="title"><%= productFinded.name %></h3>
          <p class="subtitle"><%= productFinded.varieties.name %></p>
          <p class="categoriaprod"><%= productFinded.categories.name %></p>
          <p class="categoriaprod"><%= productFinded.volumes.name %>.ml</p>
          <p class="descriptionprod"><%= productFinded.description %></p>
          <p class="price-detail">$<%= productFinded.price %></p>
          
            <br>
            <br>
            <br>
            <br>
            <br>
              

              <div class="buttons-pdt-detail" style="width:50vw;margin:auto;">
                <button class="btn btn-lg btn-primary m-3">Comprar</button>
                <button class="btn btn-lg btn-primary m-3">Agregar al carrito</button>
                <a href="/products/edit/<%= productFinded.id %>" style="text-align: center;"><button class="btn btn-lg btn-info m-3">Editar</button></a>
                <form class="text-center" action="/products/<%= productFinded.id %>?_method=delete" method="POST">
                <button class="btn btn-lg btn-danger  m-3" type="submit">Eliminar</button>
                </form>
              </div>

            </div>

              

    </main>

    <%- include('../partials/footer') %>
</body>

</html>