<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

  

  <body>
    <%- include('../partials/header') %> 

    <!--Main Header-->


    


<div class="text-center mt-5">
  
  <form action="/products" method="post" enctype="multipart/form-data"  style="width:70vw;margin:auto;background-color: black; padding: 50px; border-radius: 15px;">
    <a href="/"><img src="/images/wineline-logo2.png" height="72" alt="logo" class="form-logo"></a>
    <h1 style="font-family:Montserrat; font-weight: bolder; color: white;">Crear Producto</h1>
    
    <label for="name" class="sr-only">Marca</label>
    <input type="text" name="pdtMarca" id="name" class="form-control mb-3 " placeholder="Marca, ej: Rutini" autofocus>


   <label for="idUser" class="sr-only">Variedad</label>
  <input type="text" id="idUser" name="pdtVariedad" placeholder="Variedad, ej: Malbec" class="form-control mb-3"> 
    
    
    <label for="name" class="sr-only">Cantidad</label>
    <input type="text" name="pdtPresentacion" id="name" class="form-control mb-3" placeholder="Cantidad, ej:750ml" autofocus>
    
    
    <label for="name" class="sr-only">Precio</label>
    <input type="text" name="pdtPrice" id="name" class="form-control mb-3" placeholder="Precio"  autofocus>
    
    
   
    

   
    <div class="form-floating">
      <h6 style="text-align: start; color: white;">Breve descripción del producto</h6>
      <textarea class="form-control mb-3" name="pdtDescripcion" placeholder="Descripción del producto" id="floatingTextarea2" style="height: 100px"></textarea>
    </div>




    <h6 style="text-align: start; color: white;">Elegí una Categoría</h6>
    
      <div class="text-danger">
        
      </div>
    
								<select name="pdtCategorias" class="form-select mb-3 ">
									<option value="">Elegí una Categoría</option>
									<%  
										let categorias = ['Vinos', 'Cervezas', 'Espumantes'];
									%>
									<% for (const oneCategoria of categorias) { %>
										<option 
											value="<%= oneCategoria %>"
											<%= locals.oldData && (oneCategoria === oldData.pdtCategorias) ? 'selected' : null %> 
										> <%= oneCategoria %> </option>
									<% } %>
								</select>






							
    
    <h6 style="text-align: start; color: white;">Imagen del producto</h6>
    <input type="file" id="profilePicture" name="productImage" placeholder="Imagen del producto" class="form-control mb-3">
        
      
    
    <div class="mt-3">
      <button class="btn btn-lg btn-primary w-100 mb-3">Crear</button>
    </div>



  </form>
  
</div>




      <%- include('../partials/footer') %>
  </body>

</html>