<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %>

  

  <body>
    <%- include('../partials/header') %> 

    <!--Main Header-->


    


<div class="text-center mt-5">
  
  <form action="/products" method="post" enctype="multipart/form-data"  style="width:70vw;margin:auto;background-color: black; padding: 50px; border-radius: 15px;">
    <a href="/"><img src="/images/wineline-logo2.png" height="72" alt="logo" class="form-logo"></a>
    <h1 style="font-family:Montserrat; font-weight: bolder; color: white;">Crear Producto</h1>
    
    <label for="name" class="sr-only">Marca</label>
    <input type="text" name="name" id="name" class="form-control mb-3 " placeholder="Marca, ej: Rutini" autofocus>


    <div class="form-group mb-3">
      <select name="varietyId" class="form-select">
        <option value="">Selecciona una variedad</option>
        <% varieties.forEach(oneVariety => { %>
        <option value="<%= oneVariety.id %>"><%= oneVariety.name %></option>
        <% }) %>
      </select>
    </div>
    
    
    <label for="name" class="sr-only">Cantidad</label>
    <div class="form-group mb-3">
      <select name="volumeId" class="form-select">
        <option value="">Selecciona una cantidad</option>
        <% volumes.forEach(oneVolume => { %>
        <option value="<%= oneVolume.id %>"><%= oneVolume.name %>ml</option>
        <% }) %>
      </select>
    </div>
    
    
    <label for="name" class="sr-only">Precio</label>
    <input type="text" name="price" id="name" class="form-control mb-3" placeholder="Precio"  autofocus>

    <label for="name" class="sr-only">Descuento</label>
    <input type="text" name="discount" id="name" class="form-control mb-3" placeholder="Descuento"  autofocus>
    
   
    <div class="form-floating">
      <h6 style="text-align: start; color: white;">Breve descripción del producto</h6>
      <textarea class="form-control mb-3" name="description" placeholder="Descripción del producto" id="floatingTextarea2" style="height: 100px"></textarea>
    </div>




    <h6 style="text-align: start; color: white;">Elegí una Categoría</h6>
    
      <div class="text-danger">
        
      </div>
    
      <div class="form-group mb-3">
        <select name="categoryId" class="form-select">
          <option value="">Selecciona una opción</option>
          <% categories.forEach(oneCategory => { %>
          <option value="<%= oneCategory.id %>"><%= oneCategory.name %></option>
          <% }) %>
        </select>
      </div>






							
    
    <h6 style="text-align: start; color: white;">Imagen del producto</h6>
    <input type="file" id="profilePicture" name="image" placeholder="Imagen del producto" class="form-control mb-3">
        
      
    
    <div class="mt-3">
      <button class="btn btn-lg btn-primary w-100 mb-3">Crear</button>
    </div>



  </form>
  
</div>




      <%- include('../partials/footer') %>
  </body>

</html>