<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head') %>
  


<body>
  <%- include('../partials/header') %>

    <main class="productdetail">
      <div class="imgprod">
        <img class="img-detail" src="/uploads/<%= theProduct.pdtImage %>" alt="">
      </div>
      <div class="producttext">
        <h3 class="title"><%= theProduct.pdtMarca %></h3>
          <p class="subtitle"><%= theProduct.pdtVariedad %></p>
          <p class="categoriaprod"><%= theProduct.pdtCategorias %></p>
          <p class="descriptionprod"><%= theProduct.pdtDescripcion %></p>
          <p class="price-detail">$<%= theProduct.pdtPrice %></p>
          
            <br>
            <br>
            <br>
            <br>
            <br>
              

              <div class="buttons-pdt-detail">
                <button class="buttons1">Comprar</button>
                <button class="buttons1">Agregar al carrito</button>
                <form action="/products/<%= theProduct.id %>?_method=delete" method="POST">
                <button class="buttons1" type="submit">Eliminar</button>
                </form>
              </div>

            </div>

              

    </main>

    <%- include('../partials/footer') %>
</body>

</html>